#filter {
    display: flex;
    height: 56px;
    z-index: 10;
}

.list {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 16px;
    overflow: hidden;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 30px;
    width: 195px;
    z-index: 10;
    position: relative;
    transition: 0.3s;
}

.header_list{
    display: flex;
    height: 56px;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header_list p{
    margin-right: 10px;
    letter-spacing: 1px;
}

.header_list i.disabled{
    display: none;
}

.extension_filter{
    display: none;
}

.wrap_srch{
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.input_search{
    display: flex;
    align-items: center;
    position: relative;
    padding: 7px;
    border: 1px solid #C6C6C6;
    border-radius: 1px;
}

.input_search input{
    border: none;
    outline: none;
    color: #C6C6C6;
    font-size: 11px;
}

.input_search i{
    color: #C6C6C6;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
}

.list_options{
    overflow-y: scroll;
    max-height: 150px;
}

.list_options::-webkit-scrollbar {
    width: 5px;
}

.list_options::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

.list_options p{
    font-weight: normal;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.list_options p:hover{
    background-color: #FFD15B;
}


